* {
  margin: 0;
  padding: 0;
}

.card {
  width: 20em;
  height: 10em;

  display: flex;
  flex-direction: column;
  margin: 1em;
}

p {
  color: black;
  width: 10em;
}

img {
  position: absolute;
  width: 20em;
  height: 10em;
  border: 3px solid white;
  filter: grayscale(90%);
}

img:hover {
  filter: grayscale(0);
}

h2 {
  color: rgb(247, 215, 186);
  margin-top: 3.5em;
  margin-left: 0.3em;
  position: absolute;
}

.like {
  font-family: "Courier New", Courier, monospace;

  margin-top: 7.7em;
  margin-left: 0.5em;
  padding: 0.2em;
  border-radius: 7%;
  border-style: none;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  z-index: 4;
  background-color: bisque;
}

.likes {
  margin-top: 8em;
  margin-left: 17.8em;
  margin-right: 0.3em;
  width: 1em;
  height: 2em;
  font-size: 1em;
  font-weight: 600;
  position: absolute;
  color: rgb(255, 193, 134);

  text-align: center;
}

.remove {
  position: absolute;
  margin-left: 18.3em;
  margin-top: 0.5em;
  width: 1em;

  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border-style: none;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  color: rgb(255, 253, 249);
}
